body {
    background-color: #D6E6F7;
    font-family: calibri;
}

main p{
    font-family: candara;
    opacity: 0.2;
    text-align: right;
    float: left;
}

main p:hover {
    opacity: 1;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

h1 {
    font-family: calibri;
    text-align: center;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: darkturquoise;
}

header {
    background-color: darkblue;
       position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    padding: 2px;
    margin-bottom:10px;

}

footer {
    background-color: darkslateblue;
   padding: 2px;
   position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;


}

main a:focus {
    background-color: aquamarine;
}

main {
    position: absolute;
    top:60px;
}

.genshop {
    width: 317px;
    height: 128px;

}

section {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article img {
    width: 207px;
    height: 225px;
}
